<!DOCTYPE html>
@*Here is where I put my Bootstrap themes! I kept some of the default project settings, but mostly changed a couple colors and features and things like that. I did implement and change the Bootstrap!*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FakeAmazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @*I added more bootstrap styline on the button here*@
                <a class="navbar-brand navbar-light btn-dark" asp-area="" asp-controller="Home" asp-action="Index">FakeAmazon</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    @*<div class="container">
            <main role="main" class="pb-3">
            </main>
        </div>*@


    @*here's the beutify bootstrap from the videos'*@

    <div class="col-3"><h1 class="col-3">Fake Amazon Books</h1>
    <vc:navigation-menu/>
    </div>
    <div class="col-4">
        @RenderBody()
    </div>


    <footer class="border-success footer text-info align-text-top">
        @*<div class="container">
                &copy; 2021 - FakeAmazon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
        <div class="container-fluid">
            THIS IS MY FOOTER, RELENTLESS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
